<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>开始 - Car Rental Website</title>
    <!-- Preload Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Link To CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- Side Navigation -->
    <nav class="sidenav">
        <div class="nav-content">
            <a href="#" class="logo">
                <img src="img/jeep.png" alt="">
            </a>
            <ul class="navbar">
                <li><a href="start.html" class="active">开始</a></li>
                <li><a href="thanks.html">致谢</a></li>
            </ul>
        </div>
        <div class="bx bx-menu" id="menu-icon"></div>
    </nav>

    <!-- Home -->
    <section class="home" id="home">
        <div class="text">
            <h1><span>欢迎使用</span><br>汽车推荐系统</h1>
            <p>Go Go Go !  出发咯 ~</p>
            <div class="app-stores">
                <img src="img/ios.png" alt="">
                <img src="img/512x512.png" alt="">
            </div>
        </div>
    </section>

    <!-- ScrollReveal -->
    <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

    <!-- Link To JS -->
    <script src="main.js"></script>
</body>
</html> 